body {
    background-color: whitesmoke;
}

.secondary-background {
    background-color: white;
}

.bg-orange {
    background-color: darkorange;
}

.primary-bg {
    background-color: darkorange;
    color: white;
}

.secondary-bg {
    background-color: navy;
    color: white;
}

.tertiary-bg {
    background-color: indigo;
    color: white;
}

.primary-text {
    color: darkorange;
}

.secondary-text {
    color: navy;
}

.tertiary-text {
    color: indigo;
}

.white-text {
    color: white;
}

.center-text {
    text-align: center;
}

button {
    margin: 10px 10px;
}