body {
    background-color: ghostwhite;
}

.secondary-background {
    background-color: white;
}

.bg-orange {
    background-color: darkorange;
}

.center-text {
    text-align: center;
}

button {
    margin: 10px 10px;
}